# This script processes the data into a dataset usable by the training algorithm

## Import pandas and numpy

In [38]:
import pandas as pd
import numpy as np

## Read our data from csv to pandas datafram

In [164]:
df = pd.read_csv('../data/agg.csv')
df

,TLS_SNI,PKT_DIRECTIONS,PKT_LENGTHS
0,NaN,[1],[1]
1,NaN,[],[]
2,NaN,[1],[1]
3,NaN,[1|1|-1|1|1|-1|-1|-1],[1380|714|260|80|751|303|455|24]
4,NaN,[1|1|-1|-1|-1|-1],[1|443|1380|1380|66|1380]
...,...,...,...
59142,NaN,[],[]
59143,NaN,[],[]
59144,NaN,[1|1|-1|-1|-1|1|-1|-1|-1],[1408|322|1408|1408|360|64|179|62|24]
59145,NaN,[],[]
59146,NaN,[1|-1|1|-1|-1|1|-1|-1|-1|1|1|1|1|1|1|-1|-1|1|1...,[1200|1200|1200|1200|1200|39|1200|1200|762|39|...

## Extract only rows with destination port of 443

In [131]:
df = df[df['uint16 DST_PORT'] == 443]
df

,ipaddr DST_IP,ipaddr SRC_IP,uint64 BYTES,uint64 BYTES_REV,uint64 LINK_BIT_FIELD,time TIME_FIRST,time TIME_LAST,macaddr DST_MAC,macaddr SRC_MAC,float NTS_AVERAGE_DISPERSION,...,uint8 TCP_FLAGS_REV,int8* PPI_PKT_DIRECTIONS,uint8* PPI_PKT_FLAGS,string TLS_ALPN,bytes TLS_JA3,string TLS_SNI,uint16* PPI_PKT_LENGTHS,uint16* TLS_EXT_LEN,uint16* TLS_EXT_TYPE,time* PPI_PKT_TIMES
0,34.144.254.29,192.168.152.21,40,52,1,2025-03-17T06:57:57.889881,2025-03-17T06:57:57.943410,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
2,2a00:1450:4014:80f::200a,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,60,72,1,2025-03-17T06:57:57.889782,2025-03-17T06:57:57.942534,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
3,2600:1901:1:566::,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,187,184,1,2025-03-17T06:58:13.127583,2025-03-17T06:58:13.244613,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,33.041668,...,24,[1|-1],[24|24],NaN,NaN,NaN,[43|40],[],[],[2025-03-17T06:58:13.127583|2025-03-17T06:58:1...
4,2a00:1450:4014:80a::200e,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,60,72,1,2025-03-17T06:58:15.709063,2025-03-17T06:58:15.788311,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
5,2a00:1450:4014:80e::200a,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,60,72,1,2025-03-17T06:58:16.511554,2025-03-17T06:58:16.545157,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4105,3.161.119.18,192.168.152.21,40,52,1,2025-03-17T07:57:00.772721,2025-03-17T07:57:00.806442,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,16,[],[],NaN,NaN,NaN,[],[],[],[]
4109,2600:1901:1:4be::,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,252,0,1,2025-03-17T07:54:57.758153,2025-03-17T07:54:59.759931,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,0,[],[],NaN,NaN,NaN,[],[],[],[]
4111,34.213.149.83,192.168.152.21,2302,3969,1,2025-03-17T07:52:54.730116,2025-03-17T07:53:02.213507,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,398.000366,...,91,[1|1|-1|-1|-1|1|-1|-1|-1],[16|24|16|16|24|24|24|24|24],NaN,NaN,NaN,[1408|322|1408|1408|360|64|179|62|24],[],[],[2025-03-17T07:52:54.942695|2025-03-17T07:52:5...
4113,2600:1901:1:7c5::,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,204,144,1,2025-03-17T07:52:33.938733,2025-03-17T07:53:02.765499,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,0.000000,...,17,[],[],NaN,NaN,NaN,[],[],[],[]
4116,2a00:1450:4014:80f::200e,2a00:11b1:1082:7c96:e0f9:4cc9:a8b8:5710,5032,8423,1,2025-03-17T07:55:46.376220,2025-03-17T07:55:46.671337,4e:c2:40:0e:1c:53,8a:b7:69:48:4f:d4,484.368835,...,0,[1|-1|1|-1|-1|1|-1|-1|-1|1|1|1|1|1|1|-1|-1|1|1...,[0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0...,NaN,NaN,NaN,[1200|1200|1200|1200|1200|39|1200|1200|762|39|...,[],[],[2025-03-17T07:55:46.376220|2025-03-17T07:55:4...

## Remove duplicate rows

In [160]:
df = df.drop_duplicates()
df

,Unnamed: 0,TLS_SNI,PKT_DIRECTIONS,PKT_LENGTHS
0,3,NaN,[1],[1]
1,4,NaN,[],[]
2,13,NaN,[1],[1]
3,14,NaN,[1|1|-1|1|1|-1|-1|-1],[1380|714|260|80|751|303|455|24]
4,16,NaN,[1|1|-1|-1|-1|-1],[1|443|1380|1380|66|1380]
...,...,...,...,...
59142,4105,NaN,[],[]
59143,4109,NaN,[],[]
59144,4111,NaN,[1|1|-1|-1|-1|1|-1|-1|-1],[1408|322|1408|1408|360|64|179|62|24]
59145,4113,NaN,[],[]
59146,4116,NaN,[1|-1|1|-1|-1|1|-1|-1|-1|1|1|1|1|1|1|-1|-1|1|1...,[1200|1200|1200|1200|1200|39|1200|1200|762|39|...

## See our columns

In [161]:
df.columns

Index(['Unnamed: 0', 'TLS_SNI', 'PKT_DIRECTIONS', 'PKT_LENGTHS'], dtype='object')

## Choose the columns we need       
**Which is *TLS_SNI*, which contains our domain (service) and will be used for annotattion, *PPI_PKT_DIECTIONS*, which contains 1 or -1 for each packet in the flow depending on the direction of the packet, and *PPI_PKT_LENGTHS*, which contains the lengths of first 30 packets**           
**We will also rename the columns so the work with them will be easier**

In [162]:
df = df[['string TLS_SNI', 'int8* PPI_PKT_DIRECTIONS', 'uint16* PPI_PKT_LENGTHS']]
df = df.rename(columns={'string TLS_SNI': 'TLS_SNI', 'int8* PPI_PKT_DIRECTIONS': "PKT_DIRECTIONS", "uint16* PPI_PKT_LENGTHS": "PKT_LENGTHS"})
df

KeyError: "None of [Index(['string TLS_SNI', 'int8* PPI_PKT_DIRECTIONS',\n       'uint16* PPI_PKT_LENGTHS'],\n      dtype='object')] are in the [columns]"

**These cells are here only for file aggreggation**

In [44]:
agg = df
agg

,TLS_SNI,PKT_DIRECTIONS,PKT_LENGTHS
3,NaN,[1],[1]
4,NaN,[],[]
13,NaN,[1],[1]
14,NaN,[1|1|-1|1|1|-1|-1|-1],[1380|714|260|80|751|303|455|24]
16,NaN,[1|1|-1|-1|-1|-1],[1|443|1380|1380|66|1380]
...,...,...,...
378,NaN,[1|1|1|-1|-1|-1|-1|-1|1|1|1|1|-1|-1|-1|-1|1|-1...,[1250|1250|79|40|1250|1250|291|952|1250|31|124...
379,NaN,[1|1|1|-1|-1|1|-1|-1|1|-1],[1244|1250|321|27|24|32|1186|90|35|24]
380,NaN,[1|1|-1|1|1|1|-1|-1|-1],[1380|677|240|64|1380|32|271|778|24]
381,NaN,[1|1|-1|1|1|1|-1|-1|-1|-1|1|1|1|-1|-1|-1|-1|1|...,[1380|726|260|80|928|921|303|1380|1066|1066|92...
383,NaN,[1|1|-1|-1|-1|-1|1|1|1|1|1|1|1|-1|-1|1|-1|-1|-...,[1380|559|1380|1380|1380|1302|126|99|1380|242|...

In [135]:
agg = pd.concat([agg, df])
agg

,TLS_SNI,PKT_DIRECTIONS,PKT_LENGTHS
3,NaN,[1],[1]
4,NaN,[],[]
13,NaN,[1],[1]
14,NaN,[1|1|-1|1|1|-1|-1|-1],[1380|714|260|80|751|303|455|24]
16,NaN,[1|1|-1|-1|-1|-1],[1|443|1380|1380|66|1380]
...,...,...,...
4105,NaN,[],[]
4109,NaN,[],[]
4111,NaN,[1|1|-1|-1|-1|1|-1|-1|-1],[1408|322|1408|1408|360|64|179|62|24]
4113,NaN,[],[]
4116,NaN,[1|-1|1|-1|-1|1|-1|-1|-1|1|1|1|1|1|1|-1|-1|1|1...,[1200|1200|1200|1200|1200|39|1200|1200|762|39|...

In [163]:
agg.to_csv('../data/agg.csv', index=False)

In [137]:
df = agg

In [150]:
df = df[['TLS_SNI', 'PKT_DIRECTIONS', 'PKT_LENGTHS']]

## Split packet directions into 30 independent columns, each containing either None (No packet there) or 1 or -1

In [151]:
df = df.join(df['PKT_DIRECTIONS'].str.replace("[", "").str.replace("]", "").str.split("|", expand=True)).drop('PKT_DIRECTIONS', axis=1)
df

,TLS_SNI,PKT_LENGTHS,0,1,2,3,4,5,6,7,...,20,21,22,23,24,25,26,27,28,29
0,NaN,[1],1,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,NaN,[],,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,NaN,[1],1,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,NaN,[1380|714|260|80|751|303|455|24],1,1,-1,1,1,-1,-1,-1,...,None,None,None,None,None,None,None,None,None,None
4,NaN,[1|443|1380|1380|66|1380],1,1,-1,-1,-1,-1,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59142,NaN,[],,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
59143,NaN,[],,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
59144,NaN,[1408|322|1408|1408|360|64|179|62|24],1,1,-1,-1,-1,1,-1,-1,...,None,None,None,None,None,None,None,None,None,None
59145,NaN,[],,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
59146,NaN,[1200|1200|1200|1200|1200|39|1200|1200|762|39|...,1,-1,1,-1,-1,1,-1,-1,...,-1,-1,1,1,1,None,None,None,None,None

## We now need to drop the packets, which have an empty string in the first packet direction, because that means, that there is no packet in the flow

In [152]:
df = df.drop(df[0][df[0] == ''].index)
df

,TLS_SNI,PKT_LENGTHS,0,1,2,3,4,5,6,7,...,20,21,22,23,24,25,26,27,28,29
0,NaN,[1],1,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,NaN,[1],1,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,NaN,[1380|714|260|80|751|303|455|24],1,1,-1,1,1,-1,-1,-1,...,None,None,None,None,None,None,None,None,None,None
4,NaN,[1|443|1380|1380|66|1380],1,1,-1,-1,-1,-1,None,None,...,None,None,None,None,None,None,None,None,None,None
5,NaN,[1|27],1,-1,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59139,NaN,[1230|1230|40|1230|1230|165|1226|371|518|121|3...,1,1,-1,-1,-1,1,1,1,...,None,None,None,None,None,None,None,None,None,None
59140,NaN,[1316|739|270|80|990|303|1126|986|1408|1408|14...,1,1,-1,1,1,-1,-1,1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
59141,NaN,[1408|557|378|64|92|1408|125|1284|111|31|469|4...,1,1,-1,1,1,1,1,1,...,1,-1,-1,-1,1,1,1,1,1,1
59144,NaN,[1408|322|1408|1408|360|64|179|62|24],1,1,-1,-1,-1,1,-1,-1,...,None,None,None,None,None,None,None,None,None,None
59146,NaN,[1200|1200|1200|1200|1200|39|1200|1200|762|39|...,1,-1,1,-1,-1,1,-1,-1,...,-1,-1,1,1,1,None,None,None,None,None

## Then we will create a separate dataframe containing the length of the first 30 packets

In [153]:
pkt_lengths = df['PKT_LENGTHS'].str.replace("[", "").str.replace("]", "").str.split("|", expand=True).replace(to_replace=[None], value=0).astype(int)
pkt_lengths

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1380,714,260,80,751,303,455,24,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,443,1380,1380,66,1380,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59139,1230,1230,40,1230,1230,165,1226,371,518,121,...,0,0,0,0,0,0,0,0,0,0
59140,1316,739,270,80,990,303,1126,986,1408,1408,...,1408,1408,1408,1408,1408,1408,1408,1408,1408,1408
59141,1408,557,378,64,92,1408,125,1284,111,31,...,138,455,33,31,86,1408,1408,1408,1408,1408
59144,1408,322,1408,1408,360,64,179,62,24,0,...,0,0,0,0,0,0,0,0,0,0
59146,1200,1200,1200,1200,1200,39,1200,1200,762,39,...,26,347,31,31,30,0,0,0,0,0

## Now we will replace the None values in our packet directions with zeros and multiply the with our packet lengths, thus finally getting a dataframe with 30 packet lengths and directions in one.

In [ ]:
df = df[['TLS_SNI']].join(df.iloc[:, 2:].replace(to_replace=[None], value=0).astype(int)*pkt_lengths)
df

,TLS_SNI,0,1,2,3,4,5,6,7,8,...,20,21,22,23,24,25,26,27,28,29
0,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,1380,714,-260,80,751,-303,-455,-24,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,1,443,-1380,-1380,-66,-1380,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,NaN,1,-27,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59139,NaN,1230,1230,-40,-1230,-1230,165,1226,371,-518,...,0,0,0,0,0,0,0,0,0,0
59140,NaN,1316,739,-270,80,990,-303,-1126,986,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408
59141,NaN,1408,557,-378,64,92,1408,125,1284,-111,...,138,-455,-33,-31,86,1408,1408,1408,1408,1408
59144,NaN,1408,322,-1408,-1408,-360,64,-179,-62,-24,...,0,0,0,0,0,0,0,0,0,0
59146,NaN,1200,-1200,1200,-1200,-1200,39,-1200,-1200,-762,...,-26,-347,31,31,30,0,0,0,0,0

## Now we want to drop the packets, which have NaN value in the TLS_SNI field, because they were probably not flow to outside world and we could not properly annonate them

In [155]:
df = df.drop(df[df['TLS_SNI'].isna()].index)
df

,TLS_SNI,0,1,2,3,4,5,6,7,8,...,20,21,22,23,24,25,26,27,28,29
14,ecs.office.com,727,-99,798,-1380,-1380,-527,-1380,-1380,74,...,0,0,0,0,0,0,0,0,0,0
15,sah-9f2a2e75-hap21.epmgmt.checkpoint.com,517,-1380,-1380,-1380,-446,126,-51,1380,788,...,0,0,0,0,0,0,0,0,0,0
17,sah-9f2a2e75-hap21.epmgmt.checkpoint.com,517,-1380,-1380,-1380,-446,126,-51,1380,788,...,0,0,0,0,0,0,0,0,0,0
25,cloud.sa.cz,517,-1380,-1380,-571,80,-287,-287,1021,-1113,...,0,0,0,0,0,0,0,0,0,0
30,cloud.sa.cz,517,-1380,-1380,-571,80,-287,-287,1030,-1109,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59122,registry.npmjs.org,659,-147,6,45,256,-1398,-1408,-1388,-1408,...,0,0,0,0,0,0,0,0,0,0
59123,pypi.org,457,-1408,6,-1408,-1408,-831,74,220,-1408,...,40,-24,80,0,0,0,0,0,0,0
59130,default.exp-tas.com,517,-99,344,-1420,-1420,-1338,614,-459,-1420,...,0,0,0,0,0,0,0,0,0,0
59131,westus-0.in.applicationinsights.azure.com,517,-99,351,-1408,-1408,-1408,-183,711,-103,...,0,0,0,0,0,0,0,0,0,0
59134,copilot-telemetry.githubusercontent.com,517,-1408,-1408,-1270,1408,541,-79,-79,-587,...,0,0,0,0,0,0,0,0,0,0

## We will create a new column called 'class' and assign a default value of 'other' to every row            
**This 'class' column will contain our annotations**

In [156]:
df['class'] = 'other'
df

,TLS_SNI,0,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,29,class
14,ecs.office.com,727,-99,798,-1380,-1380,-527,-1380,-1380,74,...,0,0,0,0,0,0,0,0,0,other
15,sah-9f2a2e75-hap21.epmgmt.checkpoint.com,517,-1380,-1380,-1380,-446,126,-51,1380,788,...,0,0,0,0,0,0,0,0,0,other
17,sah-9f2a2e75-hap21.epmgmt.checkpoint.com,517,-1380,-1380,-1380,-446,126,-51,1380,788,...,0,0,0,0,0,0,0,0,0,other
25,cloud.sa.cz,517,-1380,-1380,-571,80,-287,-287,1021,-1113,...,0,0,0,0,0,0,0,0,0,other
30,cloud.sa.cz,517,-1380,-1380,-571,80,-287,-287,1030,-1109,...,0,0,0,0,0,0,0,0,0,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59122,registry.npmjs.org,659,-147,6,45,256,-1398,-1408,-1388,-1408,...,0,0,0,0,0,0,0,0,0,other
59123,pypi.org,457,-1408,6,-1408,-1408,-831,74,220,-1408,...,-24,80,0,0,0,0,0,0,0,other
59130,default.exp-tas.com,517,-99,344,-1420,-1420,-1338,614,-459,-1420,...,0,0,0,0,0,0,0,0,0,other
59131,westus-0.in.applicationinsights.azure.com,517,-99,351,-1408,-1408,-1408,-183,711,-103,...,0,0,0,0,0,0,0,0,0,other
59134,copilot-telemetry.githubusercontent.com,517,-1408,-1408,-1270,1408,541,-79,-79,-587,...,0,0,0,0,0,0,0,0,0,other

## We can now export our TLS_SNI to csv, so we can see, which domains are present and wheter we would like to annotate them

In [32]:
df['TLS_SNI'].to_csv('domains.csv')

## We will now define the services we want to classify inside a python dictionary and classify them based on the presence of the dict key inside a TLS_SNI field

**Load our classes**

In [53]:
import json

classes = {}
with open('classes.json') as file:
    classes = json.load(file)

classes

{'github': 'github',
 'facebook': 'facebook',
 'seznam': 'seznam',
 'spotify': 'spotify',
 'fb.com': 'facebook',
 'edu.cz': 'edu.cz',
 'outlook': 'outlook',
 'mail.google': 'gmail'}

**Assign classes to flows we can**

In [54]:
for k, v in classes.items():
    df.loc[df['TLS_SNI'].str.contains(k), 'class'] = v

df

,TLS_SNI,0,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,29,class
203,ocsp2.apple.com,517,-1208,-1208,-1208,-451,64,304,-493,31,...,0,0,0,0,0,0,0,0,0,other
263,api.jetbrains.ai,650,-1408,6,-1408,-1408,-1331,74,164,-179,...,0,0,0,0,0,0,0,0,0,other
264,www.jetbrains.com,651,-225,6,74,192,-179,-1024,0,0,...,0,0,0,0,0,0,0,0,0,other
280,download-cdn.jetbrains.com,451,-1408,-1408,-1408,-654,6,370,-179,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,other
281,download-cdn.jetbrains.com,451,-1408,-1408,-1408,-654,6,370,-179,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78122,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,643,-1106,...,0,0,0,0,0,0,0,0,0,other
78128,events.gfe.nvidia.com,206,-1400,-1364,-901,126,0,0,0,0,...,0,0,0,0,0,0,0,0,0,other
78140,prod.otel.kaizen.nvidia.com,212,-1460,-1460,-1330,93,-204,-69,87,127,...,0,0,0,0,0,0,0,0,0,other
78141,ops.gx.nvidia.com,184,-1460,-1460,-599,-1176,126,-258,716,-1069,...,0,0,0,0,0,0,0,0,0,other
78143,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,723,-1101,...,0,0,0,0,0,0,0,0,0,other

## We will now load our json for mappping numerical value to each service

In [55]:
classes_mapping = {}
with open('classes_mapping.json') as file:
    classes_mapping = json.load(file)

classes_mapping

{'1': 'other',
 '2': 'spotify',
 '3': 'facebook',
 '4': 'edu.cz',
 '5': 'outlook',
 '6': 'seznam',
 '7': 'gmail',
 '8': 'github'}

## Finally we can replace the classnames in our 'class' column with the numerical values

In [56]:
for k, v in classes_mapping.items():
  df.loc[df['class'] == v, 'class'] = k

df

,TLS_SNI,0,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,29,class
203,ocsp2.apple.com,517,-1208,-1208,-1208,-451,64,304,-493,31,...,0,0,0,0,0,0,0,0,0,1
263,api.jetbrains.ai,650,-1408,6,-1408,-1408,-1331,74,164,-179,...,0,0,0,0,0,0,0,0,0,1
264,www.jetbrains.com,651,-225,6,74,192,-179,-1024,0,0,...,0,0,0,0,0,0,0,0,0,1
280,download-cdn.jetbrains.com,451,-1408,-1408,-1408,-654,6,370,-179,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,1
281,download-cdn.jetbrains.com,451,-1408,-1408,-1408,-654,6,370,-179,-1408,...,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,-1408,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78122,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,643,-1106,...,0,0,0,0,0,0,0,0,0,1
78128,events.gfe.nvidia.com,206,-1400,-1364,-901,126,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
78140,prod.otel.kaizen.nvidia.com,212,-1460,-1460,-1330,93,-204,-69,87,127,...,0,0,0,0,0,0,0,0,0,1
78141,ops.gx.nvidia.com,184,-1460,-1460,-599,-1176,126,-258,716,-1069,...,0,0,0,0,0,0,0,0,0,1
78143,ops.gx.nvidia.com,184,-1460,-1460,-1176,-599,126,-258,723,-1101,...,0,0,0,0,0,0,0,0,0,1

## Now we can drop the TLS_SNI column

In [51]:
df.drop(columns=['TLS_SNI'], inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,class
0,517,-1240,-1240,-1231,80,-287,-287,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,517,-1368,-1368,-457,-457,64,-614,272,-31,1234,...,0,0,0,0,0,0,0,0,0,1
2,517,-156,51,-69,68,-38,733,1024,1024,1024,...,0,0,0,0,0,0,0,0,0,1
3,463,-1412,-1412,-1412,-305,80,485,-618,-31,31,...,0,0,0,0,0,0,0,0,0,1
4,561,-212,64,-586,46,37,-31,35,871,-192,...,-539,-68,-230,215,-76,39,89,-83,39,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031090,517,-1238,-1238,-822,64,1238,442,-179,-62,-31,...,0,0,0,0,0,0,0,0,0,1
1031091,212,-1330,-1330,-1330,-106,-1330,-589,93,-51,1380,...,0,0,0,0,0,0,0,0,0,1
1031092,461,-1448,-1448,-621,80,345,-287,-287,-1448,-1448,...,-1448,-1448,-1448,-1448,-1448,-1448,-1448,-1448,-517,1
1031093,552,-133,-41,-1400,-1364,-246,-286,-74,80,-303,...,72,72,76,76,72,72,1460,1309,1460,1
1031094,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Export our final dataset

In [158]:
df.to_csv('final_dataset.csv', index=False)